.slot {
  height: 30px;
  width: 30px;
  background-color: rgb(64, 185, 76);
  border: 1px solid black;
  margin: 2px;
}

.slot__booked {
  height: 30px;
  width: 30px;
  background-color: rgb(105, 95, 222);
  border: 1px solid black;
  margin: 2px;
}
